
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b1c2d;
    color: white;
    background-image: url("first.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.container {
    width: 70%;
    margin: auto;
    text-size: 40%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
   
    font-size: 60px; 
    text-align: center; 
    display: block; 
    margin: 20px 0; 
    color:#F6BE00; 
    font-weight: bold;
    align-items: center;       /* horizontal centre */
    text-align: center;

}


nav a {
    margin-left: 20px;
    color: #cfe8ff;
    text-decoration: none;
}

    nav a:hover, nav a.active {
        color: white;
    }

    .hero img {
        width: 45%;
        border-radius: 20px;
    }


.btn {
    background: #f4b400;
    padding: 10px 20px;
    color: #0b1c2d;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 79px 0;
   text-align: center; 
}

.menu-grid {
    grid-template-columns: repeat;
    gap: 20px;
}

.menu-item {
    background: #102338;
    padding: 20px;
    border-radius: 50px;
    
}

.price {
    color: #90ee90;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-top: 1px solid #243a52;
}

.menu-item img {
     width:70%;
     height:70px;
     border-radius:30px;
     margin-bottom:30px;
     }
         
/* REVIEWS PAGE */
.review-card {
    padding: 20px;
    width: 500px;
    margin: 15px;
    cursor: pointer;
   display: flex;
    flex-direction: column; 

}

.review-card p {
    color:white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    
}

.review-card h4 {
    color: #f4b400;
    text-align: centre;
   display: flex;
    flex-direction: column; 
}


.stars {
    color: gold;
    font-size: 24px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

    
}
    


    

.hero {

    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 20px;
}
